<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <header class="text-center">
        <h1 >Bienvenido(a)</h1>
        <a href="/login/login.html" class="btn btn-light btn-sm">
          Cerrar sesión
        </a>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-6">
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
