<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
<style type="text/css">
        .boton_personalizado_login{
          text-decoration: none;
          padding: 10px;
          font-weight: 600;
          font-size: 20px;
          color: #ffffff;
          background-color: #14c90e;
          border-radius: 6px;
          border: 2px solid #30c01d;
        }
</style>
</head>
<body>
        <!-- main -->
        <div class="main-w3layouts wrapper">
            <h1>Login</h1>
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <form >
                        <input id="username"class="text" type="text" name="username" placeholder="Nombre de Usuario" required="">
                        <input id="password"class="text" type="password" name="password" placeholder="Contraseña" required="">
                        <div class="wthree-text">
                            <div class="clear"> </div>
                        </div>
                        <div>
                            <center>
                        <input class="boton_personalizado_login" onclick=login() type="button" value="Ingresar" />
                    </center>
                    </div>
                        <script src="/login/login.js"></script>
                    </form>
                    <p>¿Aún no estás registrado? <a href="/signup/signup.html">Crea una cuenta</a>.</p>
                </div>
            </div>
            
        </div>
        <!-- //main -->
    </body>
</html>