<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>
<body class="home">

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>Geolocalizador</h1>
				<div>
				<img src="https://cdn.pixabay.com/photo/2017/10/12/18/34/gps-2845363_960_720.png"width="300" height="300">
			</div>
			<div>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Login
				</a>
			</div>
			<div> .</div>
			<div>
				<a href="/signup" class="btn btn-light">
					<span class="fa fa-user"></span> Registro
				</a>
			</div>
			</div>
		</div>
	</div>

</body>
</html>
