<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <% include partials/head %>
  </head>
  <body >
    <div class="container">
      <header class="text-center">
        <h1>Rutas de <%= user.local.email %></h1>
        <a href="/logout" class="btn btn-light btn-sm">
          Cerrar sesión
        </a>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"></span> Bienvenido(a)</h3>
              <p>
                <strong>Usuario</strong> : <%= user.local.email %> <br>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
